# docker
docker-compose.env
docker-compose.yml
docker-compose.dev.yml
Dockerfile
k8s.yml

# node_modules
node_modules

# editors
.vscode
.editorconfig
.gitattributes
.gitignore
.github
.gitlab-ci.yml

# Test
test
coverage

# ESlint
.eslintignore
.eslintrc*
.prettierrc*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
